*{
    margin: auto;
}
.nav{
    width: 1512px;
    height: 588px;
    top: -6px;
    left: -601px;
    gap: 0px;
    opacity: 0px;
    background-image: url(https://s3-alpha-sig.figma.com/img/894b/df6e/56b90bbef82ad188765f40d12a46caef?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U0pPaOMWXR-t72pP3ftgjHJXWtponYsJrenQMv37s4za-g12WmsVx462srUk-VxD8hYPdllQsMQNwL-5l8gdFfYKkIJN8BXmdRgw8sC~WGGVDhLa-lNqS8gu5wSL9JuBwqlowKRSop5T2-52ouVY7JKQwn60O4ep5ui~Iwzp9oJ9RqAzvCuuSuyaB9WnIVauKab6Wn6She-aR7YM2yGgsdsxI8ew~dKEJTQOlfr1fXJkbEoxsk7F9CTgzobgvxEoOSL-yNdvL7Z8p83kFFDPgMbY4MeP7q6Sq4jetVcjVMyYai6AARWuygeEWX~wAc5j5S9NKUYyLcR1Jlf0Mw4t5w__);
}
.top-nav{
    display: flex;
    margin: auto;
}
.logo{
    display:flex;
}
.logo img{
    width: 106px;
    height: 117px;
    top: 21px;
    left: -513px;
    gap: 0px;
    opacity: 0px;
}
.logo p{
    font-family: ZCOOL KuaiLe;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    
}
.nav-center{
    display: flex;
    width: Fixed (583px)px;
    height: Hug (52px)px;
    top: 40px;
    left: -103px;
    padding: 16px 24px 16px 24px;
    gap: 24px;
    border-radius: 20px;
    opacity: 0px;
    background-color:rgba(25, 24, 24, 1);
    
}
.nav-center p{
    color: #FFFFFF;
    font-family: ZCOOL KuaiLe;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.nav-end{
    width: 127px;
    height: 38px;
    top: 48px;
    left: 695px;
    padding: 10px 16px 10px 16px;
    gap: 6.18px;
    border-radius: 15.44px;
    opacity: 0px;
    background: linear-gradient(93.73deg, #ED0137 20.19%, #F05733 88.3%);
}
.nav-end p{
    width: 95px;
    height: 18px;
    top: 10px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
}
.nav-text{
    margin-top: 170px;
}
.nav-text p{
    width: 1262px;
    height: 108px;
    top: 270px;
    left: -478px;
    gap: 0px;
    opacity: 0px;
    font-family: Shojumaru;
    font-size: 45px;
    font-weight: 400;
    line-height: 53.55px;
    text-align: center;
    color: rgba(251, 246, 246, 1);
}
.mid-1{
    width: Fixed (1,512px)px;
    height: Fixed (3,300px)px;
    top: -6px;
    left: -601px;
    gap: 0px;
    opacity: 0px;
    background: rgba(25, 24, 24, 1);
}
.mid-1 p{
    color: #FFFFFF;
}
#ist{
    width: 389px;
    height: 52px;
    top: 671px;
    left: -438px;
    gap: 0px;
    opacity: 0px;
    font-family: Shojumaru;
    font-size: 44px;
    font-weight: 400;
    line-height: 52.36px;
    text-align: left;
    color: rgba(237, 1, 55, 1);
}
#iind{
    width: 587px;
    height: 207px;
    top: 747px;
    left: -435px;
    gap: 0px;
    opacity: 0px;
    font-family: ZCOOL KuaiLe;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.56px;
    text-align: left;
}
#iist span{
    font-family:ZCOOL KuaiLe ;
    font-size: 24px;
    font-weight: 200;
    line-height: 28.56px;
    text-align: left;
}
.mid-1-msg div{
    width: Hug (178.94px)px;
    height: Hug (54.06px)px;
    top: 1042px;
    left: -435px;
    padding: 17.03px 21.29px 17.03px 21.29px;
    gap: 11.35px;
    border-radius: 21.92px;
    opacity: 0px;
    background: linear-gradient(93.73deg, #D51B46 10.19%, #EE6910 98.19%);
}
#bgimg{
    background: url("https://s3-alpha-sig.figma.com/img/72d9/2d64/713f95c34c945a62844515044f63fcd4?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dy6gWAVwYliawleJchb7RBisKJjz-~g1x5ZQXX494TEl0ccOk3KSgnf9hGEvLfSHX4~EyQKPn07jB0Lp-YEh3qBdOXQsUfDP3HM3a~HAbVQ7GDjb4LbxygWHDfTIn9lScZyrBIcv6yphV9PpqLwM9HEBtPpI9dFLdlDU~5T2ImvCU~OI4Nh7vI6fgslwJlLTpjkmoF2zU3VFP-XeHNlbuwQmpDZI8lgIwzEc~dB9EaxEKRv~MBy1aS3XstcjmWS~IfrZvVH1J7rMTEkcNxwmR77fE-XcKgQAxFThgPLipp8bDZwQDMteW90zDSbP6ne9TxCo15dv6oUZFEiNlSPDLA__");
    /* background-size: cover; */
}



